<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="de">
<head>
  <meta charset="UTF-8">
  <title>Student updaten</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
  <h1>Student updaten</h1>

  <hr class="border-2 border-top border-info">
  <a th:href="@{/web/v1/studenten}" class="btn btn-info" role="button">Studentenliste</a>
  <hr class="border-2 border-top border-info">

  <form th:object="${student}" th:action="@{/web/v1/studenten/update}" method="post">

    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="text" class="form-control" id="id" name="id" th:field="*{id}" readonly>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
      <div class="form-text" th:if="${#fields.hasErrors('name')}"
           th:errorclass="error" th:errors="*{name}"></div>
    </div>

    <div class="mb-3">
      <label for="plz" class="form-label">PLZ</label>
      <input type="text" class="form-control" id="plz" name="plz" th:field="*{plz}">
      <div class="form-text" th:if="${#fields.hasErrors('plz')}"
           th:errorclass="error" th:errors="*{plz}"></div>
    </div>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Aktualisieren</button>
  </form>
</div>

</body>
</html>